<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>glow_xing0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,407},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,55},{65,63}}</string>
                <key>sourceSize</key>
                <string>{185,173}</string>
            </dict>
            <key>glow_xing0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,117},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,42},{89,89}}</string>
                <key>sourceSize</key>
                <string>{185,173}</string>
            </dict>
            <key>glow_xing0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1},{115,115}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{115,115}}</string>
                <key>sourceSize</key>
                <string>{185,173}</string>
            </dict>
            <key>glow_xing0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,333},{121,121}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,25},{121,121}}</string>
                <key>sourceSize</key>
                <string>{185,173}</string>
            </dict>
            <key>glow_xing0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,207},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,24},{125,125}}</string>
                <key>sourceSize</key>
                <string>{185,173}</string>
            </dict>
            <key>glow_xing0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,275},{131,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,20},{131,131}}</string>
                <key>sourceSize</key>
                <string>{185,173}</string>
            </dict>
            <key>glow_xing0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,143},{131,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,20},{131,131}}</string>
                <key>sourceSize</key>
                <string>{185,173}</string>
            </dict>
            <key>glow_xing0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{141,141}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{141,141}}</string>
                <key>sourceSize</key>
                <string>{185,173}</string>
            </dict>
            <key>glow_xing0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,333},{1,1}}</string>
                <key>offset</key>
                <string>{-92,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{185,173}</string>
            </dict>
            <key>glow_xing0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,333},{1,1}}</string>
                <key>offset</key>
                <string>{-92,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{185,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>glow_xing.png</string>
            <key>size</key>
            <string>{259,471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b9e1369f448a7f9917ba6fa50d20d54:1/1$</string>
            <key>textureFileName</key>
            <string>glow_xing.png</string>
        </dict>
    </dict>
</plist>
